.bottom-drop-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    
    
    .bottom-drop{
        display: flex;
        padding: 4px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        .label-drop{
            display: flex;
            padding: 0px 2px;
            align-items: flex-start;
            gap: 6px;
            color: var(--Gray-50, #E9EDF5);

            /* Subtitle/S2 */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.28px;
        }
        .select-drop{
            display: flex;
            padding: 6px 12px 6px 20px;
            justify-content: flex-end;
            align-items: center;
            flex: 1 0 0;
            border-radius: 6px;
            opacity: 0.75;
            color: var(--indigo-50, #DFDEFC);
            /* Subtitle/S2 */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.28px;
            background: var(--Gray-900, #171C26);

            /* sd-button/default */
            box-shadow: 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10);

            option{
                color: var(--indigo-50, #DFDEFC);

                /* Subtitle/S2 */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                letter-spacing: 0.28px;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .bottom-drop-group {
        grid-column: span 1;
        flex-direction: column;
      }
}