.main-con-wrapper {
	user-select: none;
	width: 400px;
	height: auto;
	background-size: cover;
	border-radius: 20px;
	position: fixed;
	top: 20%;
	left: 30%;
	z-index: 9998;
	padding: 16px;
	background: linear-gradient(180deg, rgba(23, 28, 38, 0.85) 60.26%, rgba(90, 99, 118, 0.85) 87.88%);
	
  }
  
  
  .cropper-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8px;
	margin: 4px;
  }

  .cropper-preview{
	max-height: 400px;
	max-width: auto;
	padding: 8px;
	margin: 4px;
  }
  
  .buttons-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
  }
  
  .button-wrapper {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding: 6px 12px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
	background: var(--Gray-100, #D5DBE5);
	margin: 4px;

	/* pr-button/default */
	box-shadow: 0px 0px 0px 1px #5E5ADB, 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
	color: var(--Indigo-700, #3734A3);

	/* Button/Default */
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.28px;
	
  }
  
  .button-wrapper:hover,
  .button-wrapper:focus {
	display: flex;
	padding: 12px 12px;
	align-items: center;
	gap: 6px;
	align-self: stretch;
	border-radius: 4px;
	border: 0.38px solid #B86E9F;
  }
  
  .button-wrapper input {
	display: none;
  }

  .action-group-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: auto;
	}
  }
  