.main-container-case{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: min-content min-content min-content min-content;
    background: linear-gradient(98deg, rgba(213, 219, 229, 0.03) 21.87%, rgba(233, 237, 245, 0.00) 66.43%);
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 25px;
    /* Pop-Up L */
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.20), 0px 30px 70px 0px rgba(26, 34, 64, 0.15), 0px 0px 0px 1px rgba(136, 143, 170, 0.10);

    .main-item-case-chart{
        grid-column: span 1;
        grid-row: 2/3; 
        padding: 16px;
        justify-self: center;
        align-items: center;
        box-sizing: border-box;
        width: 400px;
        height: 400px;
        position: relative; /* Make the container relative for absolute positioning */
        boxgraph {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7;
          }
          .overlaygraph {
            z-index: 10;
          }
        
    }
    .main-item-case{
        grid-column: span 1;
        grid-row: 2/3; 
        padding: 16px;
        justify-self: center;
        align-items: center;
        box-sizing: border-box;
        
    }
    .main-item-case2{
        grid-row:3/4;
        grid-column: 1/-1;
        padding: 16px;
        justify-self: center;
        align-items: center;
        box-sizing: border-box;
    }
    

    .main-item-canvas{
        grid-row:4/5;
        grid-column: span 3;
        padding: 16px;
        justify-self: center;
        align-items: center;
        box-sizing: border-box;
    }
    
}

.containergraph {
    display: flex;
  }
  .boxgraph {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  .overlaygraph {
    z-index: 10;
  }

  .tabelCase{
    background-image: linear-gradient(rgba(24, 18, 18, 0.562), rgba(26, 30, 37, 0.952));
    color: rgb(41, 104, 160);
    border-radius: 15px;
    margin: 2px;
  }
  .formcase{
    background-color: black;
  }
  
  
  div.scrollmenu a:hover {
    background-color: #201d1d;
  }


  .case-header{
    border-radius: 25px;
    background: linear-gradient(156deg, rgba(23, 28, 38, 0.68) 13.71%, #5A6376 61.66%);
    grid-column: 1/-1;
    grid-row: 1/2;
    
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted from justify-items to justify-content */
    flex-direction:row;
    
    


  }

  .statistical-container{
    width: 100%;
  }




@media screen and (max-width: 1200px){
    .main-container-case {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 16px; 
      }
      .case-header{
        grid-column: span 2;
    }
}

@media screen and (max-width: 800px){
    .main-container-case {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 16px; 
      }
      .case-header{
        grid-column: span 1;
    }
}

@media screen and (min-width: 2000px){
    .main-container-case {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        gap: 16px; 
      }
      .case-header{
        grid-column: span 6;
    }
}


.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  /* Set the width and height of the chart explicitly */
.react-google-charts-chart {
    width: 100%;
    height: 100%;
  }
  
  /* Adjust the style for the Google Charts tooltip */
  .google-visualization-tooltip {
    max-width: 200px;
  }

  .bottom-drop{
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    .label-drop{
        display: flex;
        padding: 0px 2px;
        align-items: flex-start;
        gap: 6px;
        color: var(var(--Gray-900, #171C26));

        /* Subtitle/S2 */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.28px;
    }
    .select-drop{
        display: flex;
        padding: 6px 12px 6px 20px;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
        border-radius: 6px;
        opacity: 0.75;
        color: var(--indigo-50, #DFDEFC);
        /* Subtitle/S2 */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.28px;
        background: var(--Gray-900, #171C26);

        /* sd-button/default */
        box-shadow: 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.10);

        option{
            color: var(--indigo-50, #DFDEFC);

            /* Subtitle/S2 */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            letter-spacing: 0.28px;
           
        }
    }
}

.button-add{
    font-size: 12px;
}



