.appcontainer{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows:min-content 1fr ;
  gap: 16px 16px;
}

.navigationbar{
  /* background: rgba(0, 255, 34, 0.103); */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/2;
}

.sidebar {
  /* background: rgba(0, 255, 34, 0.103); */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2; /* This specifies that the sidebar should start at the beginning of the second row */
  grid-row-end: 3; /* This specifies that the sidebar should span from the start to the end of the second row */
}

.maincontainer {
  /* background: rgba(0, 255, 34, 0.103); */
  grid-column-start: 2;
  grid-column-end: 3; /* This specifies that the class should span from the start of column 2 to the end of column 2 */
  grid-row-start: 2;
  grid-row-end: 3; /* This specifies that the class should span from the start of row 2 to the end of row 2 */
}
